$primary-peach: #e7816b;
$primary-black: #1d1c1e;
$primary-white: #ffffff;

$secondary-light-peach: #FFAD9B;
$secondary-dark-grey: #333136;
$secondary-light-grey: #F1F3F5;

$font-text: 'Jost', sans-serif;
$width-container: 1111px;
