@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

@import 'variables';
@import 'mixins';

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

* {
  font-family: $font-text;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.content-margin {
  width: $container-width;
  margin: 0 auto;
}

h2 {
  @include heading-2-text;
}

p {
  @include body-text;
}

.btn-light {
  border: none;
  border-radius: 5px;
  background: $primary-white;
  color: $secondary-dark-grey;
  height: 56px;
  width: 152px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    background: $secondary-light-peach;
  }
}

.mobile-nav-prevent-scroll {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: $tablet-max-width-landscape) {
  .content-margin {
    width: $container-width-tablet;
  }
}

@media only screen and (max-width: $phone-max-width) {
  .content-margin {
    width: 100%;
  }
  .content-margin-phone {
    width: $container-width-phone;
    margin: 0 auto;
  }
}
