@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

@import 'variables';
@import 'mixins';

* {
  font-family: $font-text;
  margin: 0;
}

a {
  text-decoration: none;
}

.content-margin {
  width: $container-width;
  margin: 0 auto;
}
