@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

@import 'variables';
@import 'mixins';

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

* {
  font-family: $font-text;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

.content-margin {
  width: $container-width;
  margin: 0 auto;

  @media only screen and (max-width: $tablet-max-width-landscape) {
    max-width: $container-width-tablet;
  }
}

h2 {
  @include heading-2-text;
}

p {
  @include body-text;
}

.btn-light {
  border: none;
  border-radius: 5px;
  background: $primary-white;
  color: $secondary-dark-grey;
  height: 56px;
  width: 152px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    background: $secondary-light-peach;
  }
}
