$primary-peach: #e7816b;
$primary-peach-hover: rgba(#e7816b, .8);
$primary-black: #1d1c1e;
$primary-white: #ffffff;

$secondary-light-peach: #FFAD9B;
$secondary-dark-grey: #333136;
$secondary-light-grey: #F1F3F5;

$card-lighter-peach: #FDF3F0;

$font-text: 'Jost', sans-serif;

// Responsive Sizes
$tablet-max-width-landscape: 1024px;
$tablet-max-width-portrait: 768px;

$phone-max-width: 720px;

// Content Margins
$container-width: 1112px;
$container-width-tablet: 689px;
$container-width-phone: 327px;

// Headings & Text
$heading-1-size: 48px;
$heading-2-size: 40px;
$heading-3-size: 20px;

$heading-1-height: 48px;
$heading-2-height: 48px;
$heading-3-height: 26px;

$heading-2-spacing: 2px;
$heading-3-spacing: 5px;

$body-text-size: 16px;
$body-font-weight: 400;
$body-text-height: 26px;

// Home - Services card backgrounds
// Web design
$bg-web-design-lg:  url('~static/assets/home/desktop/image-web-design-large.jpg');
$bg-web-design-tablet:  url('~static/assets/home/tablet/image-web-design.jpg');
$bg-web-design-phone:  url('~static/assets/home/mobile/image-web-design.jpg');

$img-web-design-lg: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-web-design-lg;
$img-web-design-tablet: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-web-design-tablet;
$img-web-design-phone: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-web-design-phone;

$img-web-design-lg-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-web-design-lg;
$img-web-design-tablet-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-web-design-tablet;
$img-web-design-phone-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-web-design-phone;

// App design
$bg-app-design:  url('~static/assets/home/desktop/image-app-design.jpg');
$bg-app-design-tablet:  url('~static/assets/home/tablet/image-app-design.jpg');
$bg-app-design-phone:  url('~static/assets/home/mobile/image-app-design.jpg');

$img-app-design: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-app-design;
$img-app-design-tablet: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-app-design-tablet;
$img-app-design-phone: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-app-design-phone;

$img-app-design-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-app-design;
$img-app-design-tablet-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-app-design-tablet;
$img-app-design-phone-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-app-design-phone;

// Graphic design
$bg-graphic-design:  url('~static/assets/home/desktop/image-graphic-design.jpg');
$bg-graphic-design-tablet:  url('~static/assets/home/tablet/image-graphic-design.jpg');
$bg-graphic-design-phone:  url('~static/assets/home/mobile/image-graphic-design.jpg');

$img-graphic-design: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-graphic-design;
$img-graphic-design-tablet: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-graphic-design-tablet;
$img-graphic-design-phone: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), $bg-graphic-design-phone;

$img-graphic-design-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-graphic-design;
$img-graphic-design-tablet-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-graphic-design-tablet;
$img-graphic-design-phone-hover: linear-gradient($primary-peach-hover, $primary-peach-hover), $bg-graphic-design-phone;
